<app-tool-bar></app-tool-bar>
<div class="flex">
  <mat-form-field appearance="fill">
    <mat-label>Carburantes</mat-label>
    <mat-select
      [(value)]="carburantesSeleccionados"
      (valueChange)="comprobarExistenciaV2()"
      
    >
      <mat-option
        *ngFor="let carburante of carburantesList"
        [value]="'Precio '+carburante"
        >{{ carburante }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="minValue"
    tickInterval="3"
    step="0.2"
    min="0"
    max="3"
    aria-label="units"
    (valueChange)="comprobarExistenciaV2()"
  ></mat-slider>
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="maxValue"
    tickInterval="3"
    step="0.2"
    min="0"
    max="3"
    aria-label="units"
    (valueChange)="comprobarExistenciaV2()"
  ></mat-slider>

  <!--
  <mat-form-field appearance="fill">
    <mat-label>Provincias</mat-label>
    <mat-select
      [(value)]="listIDProvincia.keys"
      (valueChange)="comprobarExistenciaV2()"
      
    >
      <mat-option
        *ngFor="let nombre of listIDProvincia.values"
        [value]="'Precio '+nombre"
        >{{ nombre }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  -->
</div>

<mat-card *ngFor="let gaso of listGasolinerasFiltradas">
  <mat-card-title>{{ gaso["Rótulo"] }}</mat-card-title>
  <mat-card-subtitle *ngIf="gaso['Precio Gasolina 95 E5']&&comprobarExistencia('Gasolina 95 E5')">
    Precio Gasolina 95 E5:
    {{ gaso["Precio Gasolina 95 E5"] }}€</mat-card-subtitle
  >
  <mat-card-subtitle *ngIf="gaso['Precio Gasoleo A']&&comprobarExistencia('Gasoleo A')">
    Precio Gasoleo A:
    {{ gaso["Precio Gasoleo A"] }}€</mat-card-subtitle
  >
  <mat-card-subtitle *ngIf="gaso['Precio Hidrogeno']&&comprobarExistencia('Hidrogeno')">
    Precio Hidrogeno:
    {{ gaso["Precio Hidrogeno"] }}€</mat-card-subtitle
  >

  <ul>
    <li>Dirección: {{ gaso["Dirección"] }}</li>
    <li>Localidad: {{ gaso["Localidad"] }}</li>
    <li>{{ gaso["Provincia"] }}</li>
    <li>{{ gaso["IDProvincia"] }}</li>
  </ul>
</mat-card>

<!--
<mat-card *ngFor="let gaso of listGasolineras">
    <mat-card-title>{{gaso['Rótulo']}}</mat-card-title>
    <mat-card-subtitle *ngIf="gaso['Precio Biodiesel']&&comprobarExistencia('Biodiesel')">Precio Biodiesel:
        {{gaso['Precio Biodiesel']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Bioetanol']&&comprobarExistencia('Bioetanol')">Precio Bioetanol:
        {{gaso['Precio Bioetanol']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gas Natural Comprimido']&&comprobarExistencia('Gas Natural Comprimido')">
        Precio Gas Natural Comprimido: {{gaso['Precio Gas Natural Comprimido']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gas Natural Licuado']&&comprobarExistencia('Gas Natural Licuado')">Precio Gas
        Natural Licuado: {{gaso['Precio Gas Natural Licuado']}}€</mat-card-subtitle>
    <mat-card-subtitle
        *ngIf="gaso['Precio Gases licuados del petróleo']&&comprobarExistencia('Gases licuados del petróleo')">Precio
        Gases licuados del petróleo: {{gaso['Precio Gases licuados del petróleo']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasoleo A']&&comprobarExistencia('Gasoleo A')">Precio Gasoleo A:
        {{gaso['Precio Gasoleo A']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasoleo B']&&comprobarExistencia('Gasoleo B')">Precio Gasoleo B:
        {{gaso['Precio Gasoleo B']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasoleo Premium']&&comprobarExistencia('Gasoleo Premium')">Precio Gasoleo
        Premium: {{gaso['Precio Gasoleo Premium']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasolina 95 E10']&&comprobarExistencia('Gasolina 95 E10')">Precio Gasolina 95
        E10: {{gaso['Precio Gasolina 95 E10']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasolina 95 E5']&&comprobarExistencia('Gasolina 95 E5')">Precio Gasolina 95
        E5: {{gaso['Precio Gasolina 95 E5']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasolina 95 E5 Premium']&&comprobarExistencia('Gasolina 95 E5 Premium')">
        Precio Gasolina 95 E5 Premium: {{gaso['Precio Gasolina 95 E5 Premium']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasolina 98 E10']&&comprobarExistencia('Gasolina 98 E10')">Precio Gasolina 98
        E10: {{gaso['Precio Gasolina 98 E10']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Gasolina 98 E5']&&comprobarExistencia('Gasolina 98 E5')">Precio Gasolina 98
        E5: {{gaso['Precio Gasolina 98 E5']}}€</mat-card-subtitle>
    <mat-card-subtitle *ngIf="gaso['Precio Hidrogeno']&&comprobarExistencia('Gasolina Hidrogeno')">Precio Hidrogeno:
        {{gaso['Precio Hidrogeno']}}€</mat-card-subtitle>
    <ul>

        <li>Dirección: {{gaso['Dirección']}}</li>
        <li>Localidad: {{gaso['Localidad']}}</li>
    </ul>

</mat-card>

-->
